.signup {
    .logoSignup {
        margin-bottom: 40px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-image: url('../../assets/img/backgroundLoginBoti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .formSignup {
        display: flex;
        max-width: 250px;
        flex-direction: column;
        border: 1px solid gray;
        padding: 50px;
        background-color: white;
        border-radius: 25px;    
        .input {
            margin: 15px;
        }
    }

    .buttonSignup {
        margin-top: 20px !important;
    }
    .passwordType{
        font-size: 10px;
    }
    .errorLabel{
        font-size: 10px;
        color:  #e01c2a;
        margin-bottom: 5px;
    }
}